Repository stackabletech/docker-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
fail_fast: false
exclude: \.patch$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 3db93a2be6f214ed722bf7bce095ec1b1715422a # 0.14.2
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: update-readme-badges
        name: update-readme-badges
        language: system
        entry: .scripts/update_readme_badges.sh
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore(boil): Release 0.3.2
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

chore(boil): Release 0.3.2 (#1604)
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

Update airflow/Dockerfile
  airflow/Dockerfile
Due: none

Update opensearch-dashboards/Dockerfile
  opensearch-dashboards/Dockerfile
Due: none

chore: Quote cdxgen arguments in the remaining Dockerfiles
  druid/Dockerfile
  nifi/Dockerfile
  superset/Dockerfile
Due: none

feat(boil): Add circular local image dependency detection
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

docs(boil): Improve dev comment about chain.pop()
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Add circular local image dependency detection (#1605)
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat: Add SBOMs for frontend (npm) dependencies (#1600)
  CHANGELOG.md
  airflow/Dockerfile
  airflow/boil-config.toml
  boil.toml
  druid/Dockerfile
  druid/boil-config.toml
  nifi/Dockerfile
  nifi/boil-config.toml
  opensearch-dashboards/Dockerfile
  opensearch-dashboards/boil-config.toml
  superset/Dockerfile
  superset/boil-config.toml
Due: none

fix(boil): Only include prerelease data if present
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

test(boil): Add unit tests for floating tag conversion
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix(boil): Only include prerelease data if present (#1606)
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Add floating-tag tool
  rust/boil/src/cli/mod.rs
  rust/boil/src/cli/tools.rs
  rust/boil/src/cmd/mod.rs
  rust/boil/src/cmd/tools.rs
  rust/boil/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Add floating-tag tool (#1607)
  rust/boil/src/cli/mod.rs
  rust/boil/src/cli/tools.rs
  rust/boil/src/cmd/mod.rs
  rust/boil/src/cmd/tools.rs
  rust/boil/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Release 0.3.3
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

chore(boil): Release 0.3.3 (#1609)
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

feat: Add a shared generator for vendored JavaScript SBOMs
  shared/sbom/vendored_js.py
Due: none

feat(nifi): Backport NIFI-15958 to log periodic progress during archive scan and provenance re-index
  CHANGELOG.md
  nifi/stackable/patches/2.6.0/0010-NIFI-15958-Log-periodic-progress-while-waiting-for-c.patch
  nifi/stackable/patches/2.7.2/0010-NIFI-15958-Log-periodic-progress-while-waiting-for-c.patch
  nifi/stackable/patches/2.9.0/0010-NIFI-15958-Log-periodic-progress-while-waiting-for-c.patch
Due: none

feat(hbase): Add an SBOM for the web UI dependencies
  CHANGELOG.md
  boil.toml
  hbase/hbase/Dockerfile
  hbase/hbase/boil-config.toml
  hbase/hbase/stackable/hbase_webapps_deps.py
Due: none

feat(hadoop, spark, trino): Add SBOMs for the web UI dependencies
  CHANGELOG.md
  hadoop/hadoop/Dockerfile
  hadoop/hadoop/stackable/vendored-js/3.3.6.json
  hadoop/hadoop/stackable/vendored-js/3.4.2.json
  hadoop/hadoop/stackable/vendored-js/3.4.3.json
  hadoop/hadoop/stackable/vendored-js/3.5.0.json
  spark-k8s/Dockerfile.3
  spark-k8s/Dockerfile.4
  spark-k8s/stackable/vendored-js/3.5.8.json
  spark-k8s/stackable/vendored-js/4.1.1.json
  spark-k8s/stackable/vendored-js/4.1.2.json
  trino/trino/Dockerfile
  trino/trino/boil-config.toml
  trino/trino/stackable/vendored-js/477.json
  trino/trino/stackable/vendored-js/479.json
  trino/trino/stackable/vendored-js/481.json
Due: none

feat: Add a tool for identifying vendored JavaScript
  shared/sbom/identify_js.py
Due: none

fix(boil)!: Don't override image manifest URIs in output
  rust/boil/src/cmd/build.rs
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Rename image count variable
  rust/boil/src/cmd/build.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Add number of tags to stdout output
  rust/boil/src/cmd/build.rs
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Updated changelog to point at the pr
  CHANGELOG.md
Due: none

chore: Apply suggestion
  rust/boil/src/cmd/build.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Add doc comment for TagSet::len
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Rename variable in fold combinator
  rust/boil/src/cmd/build.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix(boil)!: Don't override image manifest URIs in output (#1613)
  rust/boil/src/cmd/build.rs
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Release 0.4.0
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

chore: bump the Rust toolchain to 1.97.1
  .github/workflows/boil_pr.yaml
  .github/workflows/boil_release.yaml
  .github/workflows/patchable_pr.yaml
  rust-toolchain.toml
  stackable-devel/Dockerfile
  ubi10-rust-builder/Dockerfile
Due: none

chore(boil): Release 0.4.0 (#1614)
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

fix(superset): Exclude cypress-base from the frontend SBOM
  CHANGELOG.md
  superset/Dockerfile
Due: none

chore(boil): Resolve lints introduced by Rust 1.97
  rust/boil/src/cmd/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix(superset): Exclude cypress-base from the frontend SBOM (#1616)
  CHANGELOG.md
  superset/Dockerfile
Due: none

chore: bump the Rust toolchain to 1.97.1 (#1615)
  .github/workflows/boil_pr.yaml
  .github/workflows/boil_release.yaml
  .github/workflows/patchable_pr.yaml
  rust-toolchain.toml
  rust/boil/src/cmd/image.rs
  stackable-devel/Dockerfile
  ubi10-rust-builder/Dockerfile
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: bump the rustfmt nightly to nightly-2026-08-23
  .github/workflows/pr_pre-commit.yaml
Due: none

chore: bump the rustfmt nightly to nightly-2026-08-23 (#1617)
  .github/workflows/pr_pre-commit.yaml
Due: none

ci: Replace pre-commit with prek
  .github/workflows/pr_prek.yaml
  .pre-commit-config.yaml
  .scripts/update_readme_badges.sh
  rust/boil/.pre-commit-config.yaml
  rust/patchable/.pre-commit-config.yaml
Due: none
