Repository stackabletech/docker-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

trino: backport fix for wrong deletes in Delta Lake (#1453)
  CHANGELOG.md
  trino/trino/stackable/patches/477/0004-Fix-deleting-incorrect-records-in-Delta-Lake.patch
  trino/trino/stackable/patches/479/0003-Fix-deleting-incorrect-records-in-Delta-Lake.patch
Due: none

removed references to 0.1.0 as this version is not used by the given hbase versions
  hbase/hbase-opa-authorizer/boil-config.toml
  hbase/hbase-opa-authorizer/stackable/patches/0.1.0/patchable.toml
Due: none

feat: Stabilise HBase OPA authorization (#1446)
  CHANGELOG.md
  hbase/boil-config.toml
  hbase/hbase-opa-authorizer/boil-config.toml
  hbase/hbase-opa-authorizer/stackable/patches/0.1.0/patchable.toml
  hbase/hbase-opa-authorizer/stackable/patches/0.2.0/patchable.toml
Due: none

fix: arm build of hbase-opa-authorizer
  CHANGELOG.md
  hbase/boil-config.toml
  hbase/hbase-opa-authorizer/boil-config.toml
Due: none

update patchable
  hbase/hbase-opa-authorizer/stackable/patches/0.2.0/patchable.toml
  hbase/hbase-opa-authorizer/stackable/patches/0.3.0/patchable.toml
Due: none

fix: arm build of hbase-opa-authorizer (#1454)
  CHANGELOG.md
  hbase/boil-config.toml
  hbase/hbase-opa-authorizer/boil-config.toml
  hbase/hbase-opa-authorizer/stackable/patches/0.2.0/patchable.toml
  hbase/hbase-opa-authorizer/stackable/patches/0.3.0/patchable.toml
Due: none

fix(opensearch): scope CycloneDX SBOM to shipped components only (#1452)
  CHANGELOG.md
  opensearch/Dockerfile
  opensearch/stackable/patches/3.1.0/0005-Scope-CycloneDX-SBOM-to-shipped-components-only.patch
  opensearch/stackable/patches/3.4.0/0005-Scope-CycloneDX-SBOM-to-shipped-components-only.patch
Due: none

fix(superset): Add patch to pin @types/offscreencanvas to 2019.7.0
  superset/stackable/patches/4.1.4/0003-Pin-types-offscreencanvas-to-2019.7.0.patch
Due: none

chore: Add zizmor to pre-commit and fix findings
  .github/workflows/boil_pr.yaml
  .github/workflows/boil_release.yaml
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
  .github/workflows/mirror.yaml
  .github/workflows/pr_pre-commit.yaml
  .github/workflows/pr_test_build_images.yaml
  .github/workflows/preflight.yaml
  .github/workflows/reusable_build_image.yaml
  .github/workflows/ubi-rust-builder.yml
  .pre-commit-config.yaml
Due: none

chore: Remove a few redudant quotes from YAML files
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
  .github/workflows/reusable_build_image.yaml
  .github/workflows/ubi-rust-builder.yml
Due: none

fix(patchable): Only print ANSI if stdout is terminal
  rust/patchable/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

ci: Add contents: read permission to reusable worflow callers
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
Due: none

ci: Add id-token: write permission to reusable worflow callers
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
Due: none

fix(patchable): Only print ANSI if stdout is terminal (#1458)
  rust/patchable/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

ci: Add zizmor to pre-commit and fix findings (#1457)
  .github/workflows/boil_pr.yaml
  .github/workflows/boil_release.yaml
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
  .github/workflows/mirror.yaml
  .github/workflows/pr_pre-commit.yaml
  .github/workflows/pr_test_build_images.yaml
  .github/workflows/preflight.yaml
  .github/workflows/reusable_build_image.yaml
  .github/workflows/ubi-rust-builder.yml
  .pre-commit-config.yaml
Due: none

refactor(superset): Use nvm to manage node and npm
  superset/Dockerfile
  superset/boil-config.toml
Due: none

chore: Add scrupt to upload new nvm version to repo
  .scripts/upload_new_nvm_version.sh
Due: none

fix(superset): Add patch with re-generated package-lock.json file
  superset/stackable/patches/4.1.4/0004-Re-generate-package-lock.json-file.patch
Due: none

chore(superset): Use dot to source
  superset/Dockerfile
Due: none

fix(superset): Patch pinned packages and re-generate lock file (#1456)
  .scripts/upload_new_nvm_version.sh
  superset/Dockerfile
  superset/boil-config.toml
  superset/stackable/patches/4.1.4/0003-Pin-types-offscreencanvas-to-2019.7.0.patch
  superset/stackable/patches/4.1.4/0004-Re-generate-package-lock.json-file.patch
Due: none

chore: Move hadoop/hadoop source build to precompiled/hadoop
  precompiled/hadoop/Dockerfile
  precompiled/hadoop/boil-config.toml
  precompiled/hadoop/stackable/fuse_dfs_wrapper
  precompiled/hadoop/stackable/patches/3.3.6/0001-YARN-11527-Update-node.js.patch
  precompiled/hadoop/stackable/patches/3.3.6/0002-Allow-overriding-datanode-registration-addresses.patch
  precompiled/hadoop/stackable/patches/3.3.6/0003-HADOOP-18055-Add-async-profiler.patch
  precompiled/hadoop/stackable/patches/3.3.6/0004-Backport-HADOOP-18077.patch
  precompiled/hadoop/stackable/patches/3.3.6/0005-Async-profiler-also-grab-itimer-events.patch
  precompiled/hadoop/stackable/patches/3.3.6/0006-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  precompiled/hadoop/stackable/patches/3.3.6/0007-Bump-Snappy-version-to-fix-CVEs.patch
  precompiled/hadoop/stackable/patches/3.3.6/0008-Update-CycloneDX-plugin.patch
  precompiled/hadoop/stackable/patches/3.3.6/0009-HADOOP-18516-ABFS-Authentication-Support-Fixed-SAS-T.patch
  precompiled/hadoop/stackable/patches/3.3.6/0010-Build-hadoop-client-modules-before-hadoop-dist.patch
  precompiled/hadoop/stackable/patches/3.3.6/0011-Remove-Hadoop-benchmark.patch
  precompiled/hadoop/stackable/patches/3.3.6/0012-HADOOP-18583.-Fix-loading-of-OpenSSL-3.x-symbols-525.patch
  precompiled/hadoop/stackable/patches/3.3.6/0013-YARN-11873-Update-nodejs-to-LTS-version.patch
  precompiled/hadoop/stackable/patches/3.3.6/patchable.toml
  precompiled/hadoop/stackable/patches/3.4.2/0001-YARN-11527-Update-node.js.patch
  precompiled/hadoop/stackable/patches/3.4.2/0002-Allow-overriding-datanode-registration-addresses.patch
  precompiled/hadoop/stackable/patches/3.4.2/0003-Async-profiler-also-grab-itimer-events.patch
  precompiled/hadoop/stackable/patches/3.4.2/0004-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  precompiled/hadoop/stackable/patches/3.4.2/0005-Update-CycloneDX-plugin.patch
  precompiled/hadoop/stackable/patches/3.4.2/0006-HADOOP-19352.-Hadoop-OSS-Connector-adds-support-for.patch
  precompiled/hadoop/stackable/patches/3.4.2/0007-Upgrade-nimbus-jose-jwt-to-9.37.4-to-fix-CVE-2025-53.patch
  precompiled/hadoop/stackable/patches/3.4.2/0008-YARN-11873-Update-nodejs-to-LTS-version.patch
  precompiled/hadoop/stackable/patches/3.4.2/patchable.toml
  precompiled/hadoop/stackable/patches/patchable.toml
Due: none

chore: Update relative path (hadoop/hadoop -> precompiled/hadoop)
  precompiled/hadoop/Dockerfile
Due: none

chore: Add dev comment about commented out unit tests
  rust/boil/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Vendor openssl for better portability
  Cargo.lock
  Cargo.toml
Due: cargo-test

Bump snafu
  Cargo.lock
  Cargo.toml
Due: cargo-test

chore: Add dev comment linking to upstream PR
  rust/boil/src/main.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Add doc comment to ImageSelector struct
  rust/boil/src/core/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

refactor(boil)!: Refactor internal code structure (#1451)
  rust/boil/README.md
  rust/boil/src/cli/build.rs
  rust/boil/src/cli/completions.rs
  rust/boil/src/cli/image.rs
  rust/boil/src/cli/mod.rs
  rust/boil/src/cmd/build.rs
  rust/boil/src/cmd/completions.rs
  rust/boil/src/cmd/image.rs
  rust/boil/src/cmd/mod.rs
  rust/boil/src/config.rs
  rust/boil/src/constants.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/core/docker.rs
  rust/boil/src/core/image.rs
  rust/boil/src/core/mod.rs
  rust/boil/src/core/platform.rs
  rust/boil/src/main.rs
  rust/boil/src/show/mod.rs
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Release 0.2.0
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

chore(boil): Release 0.2.0 (#1460)
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

ci: Bump stackabletech/actions to v0.14.1
  .github/workflows/mirror.yaml
  .github/workflows/pr_pre-commit.yaml
  .github/workflows/reusable_build_image.yaml
  .github/workflows/ubi-rust-builder.yml
Due: none

ci: Bump stackabletech/actions to v0.14.1 (#1461)
  .github/workflows/mirror.yaml
  .github/workflows/pr_pre-commit.yaml
  .github/workflows/reusable_build_image.yaml
  .github/workflows/ubi-rust-builder.yml
Due: none

chore(vector): Seep up build by reducing enabled features
  vector/Dockerfile
Due: none

comment
  vector/Dockerfile
Due: none

chore(vector): Speep up build by reducing enabled features (#1462)
  vector/Dockerfile
Due: none

chore(nifi): Add version 2.9.0
  CHANGELOG.md
  java-devel/Dockerfile
  nifi/boil-config.toml
  nifi/opa-plugin/stackable/patches/0.5.0/patchable.toml
  nifi/stackable/patches/2.9.0/0001-no-zip-assembly.patch
  nifi/stackable/patches/2.9.0/0002-add-cyclonedx-plugin.patch
  nifi/stackable/patches/2.9.0/0003-disable-host-port-validation-if-list-of-allowed-host.patch
  nifi/stackable/patches/2.9.0/0004-NIFI-14858-Make-SNI-checking-configurable.patch
  nifi/stackable/patches/2.9.0/0005-replace-process-groups-root-with-root-ID.patch
  nifi/stackable/patches/2.9.0/patchable.toml
  shared/logback/boil-config.toml
  shared/logback/stackable/patches/1.5.32/patchable.toml
Due: none

changelog
  CHANGELOG.md
Due: none

feat(boil): Add new `image check` command
  Cargo.lock
  Cargo.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/build.rs
  rust/boil/src/cli/image.rs
  rust/boil/src/cli/mod.rs
  rust/boil/src/cmd/image.rs
  rust/boil/src/config.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/core/image.rs
  rust/boil/src/main.rs
  rust/boil/src/models/mod.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Remove unused config key from boil.toml
  boil.toml
Due: none

chore: Add registry metadata to all boil configs
  airflow/boil-config.toml
  druid/boil-config.toml
  hadoop/boil-config.toml
  hbase/boil-config.toml
  hive/boil-config.toml
  java-devel/boil-config.toml
  jdk-base/boil-config.toml
  kafka-testing-tools/boil-config.toml
  kafka/boil-config.toml
  krb5/boil-config.toml
  nifi/boil-config.toml
  omid/boil-config.toml
  opa/boil-config.toml
  opensearch-dashboards/boil-config.toml
  opensearch/boil-config.toml
  shared/statsd-exporter/boil-config.toml
  spark-connect-client/boil-config.toml
  spark-k8s/boil-config.toml
  stackable-base/boil-config.toml
  superset/boil-config.toml
  testing-tools/boil-config.toml
  tools/boil-config.toml
  trino-cli/boil-config.toml
  trino/boil-config.toml
  vector/boil-config.toml
  zookeeper/boil-config.toml
Due: none

Path conditions:
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: \.patch$
  cargo-rustfmt: any of: \.rs$, but not: \.patch$
  cargo-clippy: any of: \.rs$, but not: \.patch$
