Repository stackabletech/docker-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

.pre-commit-config.yaml:

---
fail_fast: false
exclude: \.patch$

default_language_version:
  node: system

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c # 6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: detect-aws-credentials
        args: ["--allow-missing-credentials"]
      - id: detect-private-key

  - repo: https://github.com/adrienverge/yamllint
    rev: 79a6b2b1392eaf49cdd32ac4f14be1a809bbd8f7 # 1.37.1
    hooks:
      - id: yamllint

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: 192ad822316c3a22fb3d3cc8aa6eafa0b8488360 # 0.45.0
    hooks:
      - id: markdownlint

  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: 99470f5e12208ff0fb17ab81c3c494f7620a1d8d # 0.11.0
    hooks:
      - id: shellcheck
        args: ["--severity=info"]

  # WARNING (@NickLarsenNZ): Nix users need to install ruff first.
  # If you do not, you will need to delete the cached ruff binary shown in the
  # error message
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 3db93a2be6f214ed722bf7bce095ec1b1715422a # 0.14.2
    hooks:
      # Run the linter.
      - id: ruff-check
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/rhysd/actionlint
    rev: e7d448ef7507c20fc4c88a95d0c448b848cd6127 # 1.7.8
    hooks:
      - id: actionlint

  - repo: https://github.com/hadolint/hadolint
    rev: 57e1618d78fd469a92c1e584e8c9313024656623 # 2.14.0
    hooks:
      - id: hadolint

  - repo: local
    hooks:
      - id: update-readme-badges
        name: update-readme-badges
        language: system
        entry: .scripts/update_readme_badges.sh
        stages: [pre-commit, pre-merge-commit, manual]
        pass_filenames: false

      - id: cargo-test
        name: cargo-test
        language: system
        entry: cargo test
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$|Cargo\.(toml|lock)

      - id: cargo-rustfmt
        name: cargo-rustfmt
        language: system
        entry: cargo +nightly-2025-10-23 fmt --all -- --check
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

      - id: cargo-clippy
        name: cargo-clippy
        language: system
        entry: cargo clippy --all-targets -- -D warnings
        stages: [pre-commit, pre-merge-commit]
        pass_filenames: false
        files: \.rs$

chore: Release 26.7.0-rc2 (#1588)
  CHANGELOG.md
Due: none

chore: Release 26.7.0
  CHANGELOG.md
Due: none

chore: Release 26.7.0 (#1589)
  CHANGELOG.md
Due: none

Update CHANGELOG.md from release 26.7.0
  CHANGELOG.md
Due: none

chore: Update changelog from release 26.7.0 (#1590)
  CHANGELOG.md
Due: none

fix(java-devel): Apply Maven retry settings under connector.* keys used by Maven 3.9
  java-devel/stackable/settings.xml
Due: none

Add a script to watch builts for a release tag
  .scripts/watch-builds.sh
Due: none

fix(java-devel): Apply Maven retry settings under connector.* keys used by Maven 3.9 (#1591)
  java-devel/stackable/settings.xml
Due: none

chore: Remove Omid 1.1.2 which we forgot to remove earlier
  CHANGELOG.md
  omid/boil-config.toml
  omid/stackable/patches/1.1.2/0001-Add-CycloneDX-plugin.patch
  omid/stackable/patches/1.1.2/patchable.toml
Due: none

chore: Remove Omid 1.1.2 which we forgot to remove earlier (#1593)
  CHANGELOG.md
  omid/boil-config.toml
  omid/stackable/patches/1.1.2/0001-Add-CycloneDX-plugin.patch
  omid/stackable/patches/1.1.2/patchable.toml
Due: none

add superset_openlineage module to superset image
  CHANGELOG.md
  superset/Dockerfile
  superset/stackable/superset-openlineage/README.md
  superset/stackable/superset-openlineage/pyproject.toml
  superset/stackable/superset-openlineage/superset_openlineage/__init__.py
  superset/stackable/superset-openlineage/superset_openlineage/client.py
  superset/stackable/superset-openlineage/superset_openlineage/context.py
  superset/stackable/superset-openlineage/superset_openlineage/event_logger.py
  superset/stackable/superset-openlineage/superset_openlineage/facets.py
  superset/stackable/superset-openlineage/superset_openlineage/jobname.py
  superset/stackable/superset-openlineage/superset_openlineage/lifecycle.py
  superset/stackable/superset-openlineage/superset_openlineage/lineage.py
  superset/stackable/superset-openlineage/superset_openlineage/naming.py
  superset/stackable/superset-openlineage/superset_openlineage/query_logger.py
  superset/stackable/superset-openlineage/superset_openlineage/settings.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/__init__.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_client.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_context.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_end_to_end.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_event_logger.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_jobname.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lifecycle.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lineage_columns.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lineage_outputs.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lineage_tables.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_naming.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_openlineage_api.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_query_logger.py
Due: none

cleanup headers
  superset/stackable/superset-openlineage/superset_openlineage/__init__.py
  superset/stackable/superset-openlineage/superset_openlineage/client.py
  superset/stackable/superset-openlineage/superset_openlineage/context.py
  superset/stackable/superset-openlineage/superset_openlineage/event_logger.py
  superset/stackable/superset-openlineage/superset_openlineage/facets.py
  superset/stackable/superset-openlineage/superset_openlineage/jobname.py
  superset/stackable/superset-openlineage/superset_openlineage/lifecycle.py
  superset/stackable/superset-openlineage/superset_openlineage/lineage.py
  superset/stackable/superset-openlineage/superset_openlineage/naming.py
  superset/stackable/superset-openlineage/superset_openlineage/query_logger.py
  superset/stackable/superset-openlineage/superset_openlineage/settings.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/__init__.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_client.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_context.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_end_to_end.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_event_logger.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_jobname.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lifecycle.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lineage_columns.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lineage_outputs.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_lineage_tables.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_naming.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_openlineage_api.py
  superset/stackable/superset-openlineage/superset_openlineage/tests/test_query_logger.py
Due: none

fix(spark): propagate exit code of the entrypoint
  spark-k8s/stackable/run-spark.sh
Due: none

chore: add changelog entry
  CHANGELOG.md
Due: none

fix(spark): rewrite run-spark.sh to fit into existing script pattern
  spark-k8s/stackable/run-spark.sh
Due: none

fix(spark): propagate exit code of the entrypoint (#1595)
  CHANGELOG.md
  spark-k8s/stackable/run-spark.sh
Due: none

chore(trino): Fix Delta Lake timestamp encoding to be readable by delta-kernel patch
  trino/trino/stackable/patches/477/0002-Disable-web-ui-code-checking-because-flow-v0.241.0-f.patch
  trino/trino/stackable/patches/477/0003-Fix-findOffsetsForTimestampGreaterOrEqual.patch
  trino/trino/stackable/patches/477/0004-Fix-deleting-incorrect-records-in-Delta-Lake.patch
  trino/trino/stackable/patches/477/0005-Fix-Delta-Lake-timestamp-encoding-to-be-readable-by-.patch
Due: none

ci: Remove SLSA build provenance generation
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
  .github/workflows/precompile_hadoop.yaml
  .github/workflows/reusable_build_image.yaml
  CHANGELOG.md
Due: none

ci: Remove SLSA build provenance generation (#1596)
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
  .github/workflows/precompile_hadoop.yaml
  .github/workflows/reusable_build_image.yaml
  CHANGELOG.md
Due: none

fix(spark): propagate exit code of the entrypoint
  CHANGELOG.md
  spark-k8s/stackable/run-spark.sh
Due: none

fix(spark): propagate exit code of the entrypoint (#1597)
  CHANGELOG.md
  spark-k8s/stackable/run-spark.sh
Due: none

feat(boil)!: Output structured data in boil-target-tags file
  .gitignore
  rust/boil/src/cli/build.rs
  rust/boil/src/cmd/build.rs
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil)!: Output structured data in boil-target-tags file (#1598)
  .gitignore
  rust/boil/src/cli/build.rs
  rust/boil/src/cmd/build.rs
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Release 0.3.0
  .scripts/release_boil.sh
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

chore: Update release date
  rust/boil/CHANGELOG.md
Due: none

chore(boil): Release 0.3.0 (#1599)
  .scripts/release_boil.sh
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

feat: Add SBOMs for frontend (npm) dependencies
  CHANGELOG.md
  airflow/Dockerfile
  airflow/boil-config.toml
  druid/Dockerfile
  druid/boil-config.toml
  nifi/Dockerfile
  nifi/boil-config.toml
  opensearch-dashboards/Dockerfile
  opensearch-dashboards/boil-config.toml
  superset/Dockerfile
  superset/boil-config.toml
Due: none

fix(boil): Include prerelease data in floating tag
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Bump h2 to 0.4.16 to negate RUSTSEC-2026-0258
  Cargo.lock
Due: cargo-test

fix(boil): Include prerelease data in floating tag (#1601)
  Cargo.lock
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Release 0.3.1
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

chore(boil): Release 0.3.1 (#1602)
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

feat(boil): Support for per-image build arguments
  rust/boil/src/core/bakefile.rs
  rust/boil/src/core/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Migrate cdxgen to 13.0.1
  CHANGELOG.md
  airflow/Dockerfile
  airflow/boil-config.toml
  druid/Dockerfile
  druid/boil-config.toml
  nifi/Dockerfile
  nifi/boil-config.toml
  opensearch-dashboards/Dockerfile
  opensearch-dashboards/boil-config.toml
  superset/Dockerfile
  superset/boil-config.toml
Due: none

chore: Address review comments on the frontend SBOMs
  airflow/Dockerfile
  boil.toml
  druid/Dockerfile
  nifi/Dockerfile
  opensearch-dashboards/Dockerfile
  superset/Dockerfile
Due: none

refactor(boil): Rework build argument internals
  rust/boil/src/core/bakefile.rs
  rust/boil/src/core/docker.rs
  rust/boil/src/core/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore: Apply suggestion
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

docs(boil): Add per-image build-arguments to README
  rust/boil/README.md
Due: none

fix(boil): Use custom build arg deserialization in global config
  rust/boil/src/config.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Support for per-image build arguments (#1603)
  rust/boil/README.md
  rust/boil/src/config.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/core/docker.rs
  rust/boil/src/core/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy
