Repository stackabletech/docker-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

chore(boil): Vendor openssl for better portability (#1459)
  Cargo.lock
  Cargo.toml
Due: cargo-test

ci(precompiled/hadoop): Compile hadoop source and publish as an image
  .github/workflows/precompile_hadoop.yaml
  .github/workflows/reusable_build_image.yaml
Due: none

chore(hadoop): Restore hadoop/hadoop
  hadoop/hadoop/Dockerfile
  hadoop/hadoop/boil-config.toml
  hadoop/hadoop/stackable/fuse_dfs_wrapper
  hadoop/hadoop/stackable/patches/3.3.6/0001-YARN-11527-Update-node.js.patch
  hadoop/hadoop/stackable/patches/3.3.6/0002-Allow-overriding-datanode-registration-addresses.patch
  hadoop/hadoop/stackable/patches/3.3.6/0003-HADOOP-18055-Add-async-profiler.patch
  hadoop/hadoop/stackable/patches/3.3.6/0004-Backport-HADOOP-18077.patch
  hadoop/hadoop/stackable/patches/3.3.6/0005-Async-profiler-also-grab-itimer-events.patch
  hadoop/hadoop/stackable/patches/3.3.6/0006-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  hadoop/hadoop/stackable/patches/3.3.6/0007-Bump-Snappy-version-to-fix-CVEs.patch
  hadoop/hadoop/stackable/patches/3.3.6/0008-Update-CycloneDX-plugin.patch
  hadoop/hadoop/stackable/patches/3.3.6/0009-HADOOP-18516-ABFS-Authentication-Support-Fixed-SAS-T.patch
  hadoop/hadoop/stackable/patches/3.3.6/0010-Build-hadoop-client-modules-before-hadoop-dist.patch
  hadoop/hadoop/stackable/patches/3.3.6/0011-Remove-Hadoop-benchmark.patch
  hadoop/hadoop/stackable/patches/3.3.6/0012-HADOOP-18583.-Fix-loading-of-OpenSSL-3.x-symbols-525.patch
  hadoop/hadoop/stackable/patches/3.3.6/0013-YARN-11873-Update-nodejs-to-LTS-version.patch
  hadoop/hadoop/stackable/patches/3.3.6/patchable.toml
  hadoop/hadoop/stackable/patches/3.4.2/0001-YARN-11527-Update-node.js.patch
  hadoop/hadoop/stackable/patches/3.4.2/0002-Allow-overriding-datanode-registration-addresses.patch
  hadoop/hadoop/stackable/patches/3.4.2/0003-Async-profiler-also-grab-itimer-events.patch
  hadoop/hadoop/stackable/patches/3.4.2/0004-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  hadoop/hadoop/stackable/patches/3.4.2/0005-Update-CycloneDX-plugin.patch
  hadoop/hadoop/stackable/patches/3.4.2/0006-HADOOP-19352.-Hadoop-OSS-Connector-adds-support-for.patch
  hadoop/hadoop/stackable/patches/3.4.2/0007-Upgrade-nimbus-jose-jwt-to-9.37.4-to-fix-CVE-2025-53.patch
  hadoop/hadoop/stackable/patches/3.4.2/0008-YARN-11873-Update-nodejs-to-LTS-version.patch
  hadoop/hadoop/stackable/patches/3.4.2/patchable.toml
  hadoop/hadoop/stackable/patches/patchable.toml
Due: none

ci(precompiled/hadoop): Make zizmor happy
  .github/workflows/precompile_hadoop.yaml
Due: none

chore(nix): Add zizmor dependency
  shell.nix
Due: none

chore: Update changelog
  CHANGELOG.md
Due: none

feat(boil): Properly support multi-registry image checks
  Cargo.toml
  rust/boil/src/cmd/image.rs
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(precompiled/hadoop): Add image for precompiled hadoop for later reuse (#1466)
  .github/workflows/precompile_hadoop.yaml
  .github/workflows/reusable_build_image.yaml
  CHANGELOG.md
  precompiled/hadoop/Dockerfile
  precompiled/hadoop/boil-config.toml
  precompiled/hadoop/stackable/fuse_dfs_wrapper
  precompiled/hadoop/stackable/patches/3.3.6/0001-YARN-11527-Update-node.js.patch
  precompiled/hadoop/stackable/patches/3.3.6/0002-Allow-overriding-datanode-registration-addresses.patch
  precompiled/hadoop/stackable/patches/3.3.6/0003-HADOOP-18055-Add-async-profiler.patch
  precompiled/hadoop/stackable/patches/3.3.6/0004-Backport-HADOOP-18077.patch
  precompiled/hadoop/stackable/patches/3.3.6/0005-Async-profiler-also-grab-itimer-events.patch
  precompiled/hadoop/stackable/patches/3.3.6/0006-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  precompiled/hadoop/stackable/patches/3.3.6/0007-Bump-Snappy-version-to-fix-CVEs.patch
  precompiled/hadoop/stackable/patches/3.3.6/0008-Update-CycloneDX-plugin.patch
  precompiled/hadoop/stackable/patches/3.3.6/0009-HADOOP-18516-ABFS-Authentication-Support-Fixed-SAS-T.patch
  precompiled/hadoop/stackable/patches/3.3.6/0010-Build-hadoop-client-modules-before-hadoop-dist.patch
  precompiled/hadoop/stackable/patches/3.3.6/0011-Remove-Hadoop-benchmark.patch
  precompiled/hadoop/stackable/patches/3.3.6/0012-HADOOP-18583.-Fix-loading-of-OpenSSL-3.x-symbols-525.patch
  precompiled/hadoop/stackable/patches/3.3.6/0013-YARN-11873-Update-nodejs-to-LTS-version.patch
  precompiled/hadoop/stackable/patches/3.3.6/patchable.toml
  precompiled/hadoop/stackable/patches/3.4.2/0001-YARN-11527-Update-node.js.patch
  precompiled/hadoop/stackable/patches/3.4.2/0002-Allow-overriding-datanode-registration-addresses.patch
  precompiled/hadoop/stackable/patches/3.4.2/0003-Async-profiler-also-grab-itimer-events.patch
  precompiled/hadoop/stackable/patches/3.4.2/0004-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  precompiled/hadoop/stackable/patches/3.4.2/0005-Update-CycloneDX-plugin.patch
  precompiled/hadoop/stackable/patches/3.4.2/0006-HADOOP-19352.-Hadoop-OSS-Connector-adds-support-for.patch
  precompiled/hadoop/stackable/patches/3.4.2/0007-Upgrade-nimbus-jose-jwt-to-9.37.4-to-fix-CVE-2025-53.patch
  precompiled/hadoop/stackable/patches/3.4.2/0008-YARN-11873-Update-nodejs-to-LTS-version.patch
  precompiled/hadoop/stackable/patches/3.4.2/patchable.toml
  precompiled/hadoop/stackable/patches/patchable.toml
  shell.nix
Due: none

chore(boil): Add dev comments for image subcommands
  rust/boil/src/cli/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

revert(boil): Vendor openssl for better portability
  Cargo.lock
  Cargo.toml
Due: cargo-test

feat(boil): Collect missing images as error
  rust/boil/src/cmd/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

ci(patchable): Build on PR
  .github/workflows/patchable_pr.yaml
Due: none

revert(boil): Vendor openssl for better portability (#1467)
  Cargo.lock
  Cargo.toml
Due: cargo-test

chore(nifi): Add version 2.9.0 (#1463)
  CHANGELOG.md
  java-devel/Dockerfile
  nifi/boil-config.toml
  nifi/opa-plugin/stackable/patches/0.5.0/patchable.toml
  nifi/stackable/patches/2.9.0/0001-no-zip-assembly.patch
  nifi/stackable/patches/2.9.0/0002-add-cyclonedx-plugin.patch
  nifi/stackable/patches/2.9.0/0003-disable-host-port-validation-if-list-of-allowed-host.patch
  nifi/stackable/patches/2.9.0/0004-NIFI-14858-Make-SNI-checking-configurable.patch
  nifi/stackable/patches/2.9.0/0005-replace-process-groups-root-with-root-ID.patch
  nifi/stackable/patches/2.9.0/patchable.toml
  shared/logback/boil-config.toml
  shared/logback/stackable/patches/1.5.32/patchable.toml
Due: none

chore(boil): Apply suggestions
  rust/boil/src/cmd/image.rs
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

ci(patchable): Build on PR (#1468)
  .github/workflows/patchable_pr.yaml
Due: none

fix(nix): Use rustup instead of indivual components
  shell.nix
Due: none

feat(boil): Relax vendor version constraint
  Cargo.lock
  Cargo.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/build.rs
  rust/boil/src/cmd/build.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/main.rs
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Remove length checking from vendor version portion of the tag
  rust/boil/src/cli/build.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

Apply suggestions from code review
  rust/boil/src/cli/build.rs
  rust/boil/src/cmd/build.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Relax vendor version constraint (#1469)
  Cargo.lock
  Cargo.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/build.rs
  rust/boil/src/cmd/build.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/main.rs
  rust/boil/src/utils.rs
  shell.nix
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Release 0.2.1
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

chore(nix): Add git-cliff as a dependency
  shell.nix
Due: none

docs(boil): Update release instructions
  rust/boil/RELEASE.md
Due: none

Apply suggestions from code review
  rust/boil/CHANGELOG.md
Due: none

chore(boil): Release 0.2.1 (#1470)
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
  rust/boil/RELEASE.md
  shell.nix
Due: cargo-test

chore(boil): Rename flat to non_recursive
  rust/boil/src/cmd/image.rs
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(boil): Add and adjust dev comments
  rust/boil/src/core/bakefile.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Add new image check command (#1464)
  Cargo.lock
  Cargo.toml
  airflow/boil-config.toml
  boil.toml
  druid/boil-config.toml
  hadoop/boil-config.toml
  hbase/boil-config.toml
  hive/boil-config.toml
  java-devel/boil-config.toml
  jdk-base/boil-config.toml
  kafka-testing-tools/boil-config.toml
  kafka/boil-config.toml
  krb5/boil-config.toml
  nifi/boil-config.toml
  omid/boil-config.toml
  opa/boil-config.toml
  opensearch-dashboards/boil-config.toml
  opensearch/boil-config.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/build.rs
  rust/boil/src/cli/image.rs
  rust/boil/src/cli/mod.rs
  rust/boil/src/cmd/image.rs
  rust/boil/src/config.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/core/image.rs
  rust/boil/src/main.rs
  rust/boil/src/models/mod.rs
  rust/boil/src/utils.rs
  shared/statsd-exporter/boil-config.toml
  spark-connect-client/boil-config.toml
  spark-k8s/boil-config.toml
  stackable-base/boil-config.toml
  superset/boil-config.toml
  testing-tools/boil-config.toml
  tools/boil-config.toml
  trino-cli/boil-config.toml
  trino/boil-config.toml
  vector/boil-config.toml
  zookeeper/boil-config.toml
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix(vector): Use relative path to patchable checked out source
  vector/copy_artifacts.sh
Due: none

perf(hadoop): Use `precompiled/hadoop` for faster image builds
  hadoop/Dockerfile
  hadoop/boil-config.toml
  hadoop/hadoop/Dockerfile
  hadoop/hadoop/boil-config.toml
  hadoop/hadoop/stackable/fuse_dfs_wrapper
  hadoop/hadoop/stackable/patches/3.3.6/0001-YARN-11527-Update-node.js.patch
  hadoop/hadoop/stackable/patches/3.3.6/0002-Allow-overriding-datanode-registration-addresses.patch
  hadoop/hadoop/stackable/patches/3.3.6/0003-HADOOP-18055-Add-async-profiler.patch
  hadoop/hadoop/stackable/patches/3.3.6/0004-Backport-HADOOP-18077.patch
  hadoop/hadoop/stackable/patches/3.3.6/0005-Async-profiler-also-grab-itimer-events.patch
  hadoop/hadoop/stackable/patches/3.3.6/0006-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  hadoop/hadoop/stackable/patches/3.3.6/0007-Bump-Snappy-version-to-fix-CVEs.patch
  hadoop/hadoop/stackable/patches/3.3.6/0008-Update-CycloneDX-plugin.patch
  hadoop/hadoop/stackable/patches/3.3.6/0009-HADOOP-18516-ABFS-Authentication-Support-Fixed-SAS-T.patch
  hadoop/hadoop/stackable/patches/3.3.6/0010-Build-hadoop-client-modules-before-hadoop-dist.patch
  hadoop/hadoop/stackable/patches/3.3.6/0011-Remove-Hadoop-benchmark.patch
  hadoop/hadoop/stackable/patches/3.3.6/0012-HADOOP-18583.-Fix-loading-of-OpenSSL-3.x-symbols-525.patch
  hadoop/hadoop/stackable/patches/3.3.6/0013-YARN-11873-Update-nodejs-to-LTS-version.patch
  hadoop/hadoop/stackable/patches/3.3.6/patchable.toml
  hadoop/hadoop/stackable/patches/3.4.2/0001-YARN-11527-Update-node.js.patch
  hadoop/hadoop/stackable/patches/3.4.2/0002-Allow-overriding-datanode-registration-addresses.patch
  hadoop/hadoop/stackable/patches/3.4.2/0003-Async-profiler-also-grab-itimer-events.patch
  hadoop/hadoop/stackable/patches/3.4.2/0004-HDFS-17378-Fix-missing-operationType-for-some-operat.patch
  hadoop/hadoop/stackable/patches/3.4.2/0005-Update-CycloneDX-plugin.patch
  hadoop/hadoop/stackable/patches/3.4.2/0006-HADOOP-19352.-Hadoop-OSS-Connector-adds-support-for.patch
  hadoop/hadoop/stackable/patches/3.4.2/0007-Upgrade-nimbus-jose-jwt-to-9.37.4-to-fix-CVE-2025-53.patch
  hadoop/hadoop/stackable/patches/3.4.2/0008-YARN-11873-Update-nodejs-to-LTS-version.patch
  hadoop/hadoop/stackable/patches/3.4.2/patchable.toml
  hadoop/hadoop/stackable/patches/patchable.toml
Due: none

ci(precompiled/hadoop): Build precompiled/hadoop instead of hadoop
  .github/workflows/precompile_hadoop.yaml
Due: none

ci(precompiled/hadoop): Build precompiled/hadoop instead of hadoop (#1473)
  .github/workflows/precompile_hadoop.yaml
Due: none

ci(reusable_build_image): Add support for nested boil images
  .github/workflows/precompile_hadoop.yaml
  .github/workflows/reusable_build_image.yaml
Due: none

ci(reusable_build_image): Add support for nested boil images (#1474)
  .github/workflows/precompile_hadoop.yaml
  .github/workflows/reusable_build_image.yaml
  CHANGELOG.md
Due: none

chore: update ubi to version 10
  stackable-base/Dockerfile
  stackable-devel/Dockerfile
Due: none

fix(hadoop): Use timestamped precompiled hadoop instead of SDP release
  hadoop/Dockerfile
  hadoop/boil-config.toml
Due: none

Path conditions:
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: \.patch$
  cargo-rustfmt: any of: \.rs$, but not: \.patch$
  cargo-clippy: any of: \.rs$, but not: \.patch$
