Repository stackabletech/docker-images: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-test, cargo-rustfmt, cargo-clippy

cargo-test:
  name: cargo-test
  language: system
  entry: cargo test
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-rustfmt:
  name: cargo-rustfmt
  language: system
  entry: cargo +nightly-2025-10-23 fmt --all -- --check
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  language: system
  entry: cargo clippy --all-targets -- -D warnings
  stages:
  - pre-commit
  - pre-merge-commit
  pass_filenames: false

chore: Update changelog
  CHANGELOG.md
Due: none

add 3.6.0 dashboards
  .scripts/upload_new_nodejs_version.sh
  opensearch-dashboards/alerting-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/anomaly-detection-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/boil-config.toml
  opensearch-dashboards/dashboards-assistant/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-flow-framework/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-maps/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-notifications/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-observability/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-query-workbench/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-reporting/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-search-relevance/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/index-management-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/ml-commons-dashboards/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/opensearch-build/boil-config.toml
  opensearch-dashboards/opensearch-build/stackable/patches/3.6.0/patchable.toml
  opensearch-dashboards/query-insights-dashboards/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/security-analytics-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/security-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/stackable/patches/3.6.0/patchable.toml
Due: none

update boil plugin versions
  opensearch-dashboards/alerting-dashboards-plugin/boil-config.toml
  opensearch-dashboards/anomaly-detection-dashboards-plugin/boil-config.toml
  opensearch-dashboards/dashboards-assistant/boil-config.toml
  opensearch-dashboards/dashboards-flow-framework/boil-config.toml
  opensearch-dashboards/dashboards-maps/boil-config.toml
  opensearch-dashboards/dashboards-notifications/boil-config.toml
  opensearch-dashboards/dashboards-observability/boil-config.toml
  opensearch-dashboards/dashboards-query-workbench/boil-config.toml
  opensearch-dashboards/dashboards-reporting/boil-config.toml
  opensearch-dashboards/dashboards-search-relevance/boil-config.toml
  opensearch-dashboards/index-management-dashboards-plugin/boil-config.toml
  opensearch-dashboards/ml-commons-dashboards/boil-config.toml
  opensearch-dashboards/query-insights-dashboards/boil-config.toml
  opensearch-dashboards/security-analytics-dashboards-plugin/boil-config.toml
  opensearch-dashboards/security-dashboards-plugin/boil-config.toml
Due: none

feat(spark-connect-client): Add 4.1.2
  spark-connect-client/boil-config.toml
Due: none

feat(spark): Add 4.1.2 (#1550)
  CHANGELOG.md
  spark-connect-client/boil-config.toml
  spark-k8s/boil-config.toml
  spark-k8s/stackable/patches/4.1.2/0001-Update-CycloneDX-plugin.patch
  spark-k8s/stackable/patches/4.1.2/patchable.toml
Due: none

review feedback
  opensearch/stackable/patches/3.6.0/0002-Add-CycloneDX-plugin.patch
Due: none

Revert "review feedback"
  opensearch/stackable/patches/3.6.0/0002-Add-CycloneDX-plugin.patch
Due: none

implement review feedback 2
  opensearch/stackable/patches/3.6.0/0002-review-feedback.patch
  opensearch/stackable/patches/3.6.0/0003-Use-the-Nexus-Build-Repo.patch
  opensearch/stackable/patches/3.6.0/0004-stop-applying-formatting-plugin.patch
Due: none

rename patch
  opensearch/stackable/patches/3.6.0/0002-Add-CyclonDX-plugin.patch
Due: none

feat(hbase): add 2.6.6, remove 2.6.3 (#1547)
  CHANGELOG.md
  hbase/boil-config.toml
  hbase/hbase-operator-tools/boil-config.toml
  hbase/hbase/boil-config.toml
  hbase/hbase/stackable/patches/2.6.3/0007-HBASE-29797-Should-not-create-wal-directory-when-cre.patch
  hbase/hbase/stackable/patches/2.6.3/0008-Remove-test-class-that-requires-jupiter-libs.patch
  hbase/hbase/stackable/patches/2.6.4/0001-HBASE-28242-Updates-async-profiler-support.patch
  hbase/hbase/stackable/patches/2.6.4/0008-Add-jcip-annotations-dependency-for-Hadoop-3.4.3-com.patch
  hbase/hbase/stackable/patches/2.6.6/0001-HBASE-28242-Updates-async-profiler-support.patch
  hbase/hbase/stackable/patches/2.6.6/0002-Update-all-dependencies-which-have-a-new-patch-updat.patch
  hbase/hbase/stackable/patches/2.6.6/0003-Include-jackson-dataformat-xml.patch
  hbase/hbase/stackable/patches/2.6.6/0004-Bump-cyclonedx-maven-plugin-to-version-2.9.1-and-twe.patch
  hbase/hbase/stackable/patches/2.6.6/0005-Allow-overriding-ipc-bind-port-and-use-alternative-p.patch
  hbase/hbase/stackable/patches/2.6.6/0006-Update-property-usage-for-bound-ports.patch
  hbase/hbase/stackable/patches/2.6.6/patchable.toml
  hbase/phoenix/boil-config.toml
  hbase/phoenix/stackable/patches/5.2.1/0002-Fix-CVE-2023-34455.patch
  hbase/phoenix/stackable/patches/5.3.1/0001-Add-CycloneDX-plugin.patch
  hbase/phoenix/stackable/patches/5.3.1/0002-Adjust-version-regex-to-match-custom-stackable-versi.patch
  hbase/phoenix/stackable/patches/5.3.1/patchable.toml
Due: none

chore(opensearch): update versions for release 26.7 (#1549)
  jdk-base/boil-config.toml
  opensearch/boil-config.toml
  opensearch/opensearch-prometheus-exporter/boil-config.toml
  opensearch/opensearch-prometheus-exporter/stackable/patches/3.6.0.0/0001-Add-CycloneDX-plugin.patch
  opensearch/opensearch-prometheus-exporter/stackable/patches/3.6.0.0/patchable.toml
  opensearch/security-plugin/Dockerfile
  opensearch/security-plugin/boil-config.toml
  opensearch/security-plugin/stackable/patches/3.6.0.0/0001-Add-CycloneDX-plugin.patch
  opensearch/security-plugin/stackable/patches/3.6.0.0/0002-Replace-the-demo-configuration-with-a-minimal-one.patch
  opensearch/security-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch/stackable/patches/3.6.0/0001-opensearch-home.patch
  opensearch/stackable/patches/3.6.0/0002-Add-CyclonDX-plugin.patch
  opensearch/stackable/patches/3.6.0/0003-Use-the-Nexus-Build-Repo.patch
  opensearch/stackable/patches/3.6.0/0004-stop-applying-formatting-plugin.patch
  opensearch/stackable/patches/3.6.0/patchable.toml
Due: none

update changelog
  CHANGELOG.md
  opensearch-dashboards/dashboards-maps/boil-config.toml
  opensearch/boil-config.toml
Due: none

feat(boil): Add human-readable output (default)
  Cargo.lock
  Cargo.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/image.rs
  rust/boil/src/cmd/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

chore(opensearch-dasboards): update versions for 26.7 release (#1551)
  .scripts/upload_new_nodejs_version.sh
  CHANGELOG.md
  opensearch-dashboards/alerting-dashboards-plugin/boil-config.toml
  opensearch-dashboards/alerting-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/anomaly-detection-dashboards-plugin/boil-config.toml
  opensearch-dashboards/anomaly-detection-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/boil-config.toml
  opensearch-dashboards/dashboards-assistant/boil-config.toml
  opensearch-dashboards/dashboards-assistant/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-flow-framework/boil-config.toml
  opensearch-dashboards/dashboards-flow-framework/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-maps/boil-config.toml
  opensearch-dashboards/dashboards-maps/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-notifications/boil-config.toml
  opensearch-dashboards/dashboards-notifications/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-observability/boil-config.toml
  opensearch-dashboards/dashboards-observability/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-query-workbench/boil-config.toml
  opensearch-dashboards/dashboards-query-workbench/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-reporting/boil-config.toml
  opensearch-dashboards/dashboards-reporting/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/dashboards-search-relevance/boil-config.toml
  opensearch-dashboards/dashboards-search-relevance/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/index-management-dashboards-plugin/boil-config.toml
  opensearch-dashboards/index-management-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/ml-commons-dashboards/boil-config.toml
  opensearch-dashboards/ml-commons-dashboards/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/opensearch-build/boil-config.toml
  opensearch-dashboards/opensearch-build/stackable/patches/3.6.0/patchable.toml
  opensearch-dashboards/query-insights-dashboards/boil-config.toml
  opensearch-dashboards/query-insights-dashboards/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/security-analytics-dashboards-plugin/boil-config.toml
  opensearch-dashboards/security-analytics-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/security-dashboards-plugin/boil-config.toml
  opensearch-dashboards/security-dashboards-plugin/stackable/patches/3.6.0.0/patchable.toml
  opensearch-dashboards/stackable/patches/3.6.0/patchable.toml
  opensearch/boil-config.toml
Due: none

feat(boil): Use stable sorting for output
  rust/boil/src/cmd/image.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Add image size command (#1536)
  Cargo.lock
  Cargo.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/image.rs
  rust/boil/src/cmd/image.rs
  rust/boil/src/main.rs
  rust/boil/src/models/mod.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

ci: Harden worfkflows
  .github/workflows/boil_pr.yaml
  .github/workflows/boil_release.yaml
  .github/workflows/patchable_pr.yaml
Due: none

ci: Explicitly mark release as latest
  .github/workflows/boil_release.yaml
Due: none

ci: Harden worfkflows (#1552)
  .github/workflows/boil_pr.yaml
  .github/workflows/boil_release.yaml
  .github/workflows/patchable_pr.yaml
Due: none

fix(spark): Use HBase 2.6.4 instead of 2.6.3
  spark-k8s/boil-config.toml
Due: none

fix(spark): Use HBase 2.6.4 instead of 2.6.3 (#1553)
  spark-k8s/boil-config.toml
Due: none

refactor(stackable-base): Use build args for tool versions
  stackable-base/Dockerfile
  stackable-base/boil-config.toml
Due: none

chore(stackable-base): Adjust containerdebug source
  stackable-base/Dockerfile
Due: none

chore(stackable-base): Adjust containerdebug source (#1554)
  stackable-base/Dockerfile
  stackable-base/boil-config.toml
Due: none

feat(boil): Add support for floating tags
  Cargo.lock
  Cargo.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/build.rs
  rust/boil/src/cli/image.rs
  rust/boil/src/cli/mod.rs
  rust/boil/src/cmd/build.rs
  rust/boil/src/cmd/image.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(boil): Add support for floating tags (#1555)
  Cargo.lock
  Cargo.toml
  rust/boil/Cargo.toml
  rust/boil/src/cli/build.rs
  rust/boil/src/cli/image.rs
  rust/boil/src/cli/mod.rs
  rust/boil/src/cmd/build.rs
  rust/boil/src/cmd/image.rs
  rust/boil/src/core/bakefile.rs
  rust/boil/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

spike(nifi): Customize the theme
  nifi/stackable/patches/2.9.0/0008-Apply-Stackable-Data-Platform-theme-to-web-UI.patch
Due: none

chore: Bump stackabletech/actions to v0.16.0
  .github/workflows/mirror.yaml
  .github/workflows/pr_pre-commit.yaml
  .github/workflows/reusable_build_image.yaml
  .github/workflows/ubi-rust-builder.yml
Due: none

feat: generate SLSA provenance for product images
  .github/workflows/reusable_build_image.yaml
Due: none

ci: Pin boil version to 0.2.2
  .github/workflows/reusable_build_image.yaml
Due: none

chore(boil): Release 0.2.3-rc.1
  Cargo.lock
  rust/boil/CHANGELOG.md
  rust/boil/Cargo.toml
Due: cargo-test

ci: Pin boil version to 0.2.2 (#1558)
  .github/workflows/reusable_build_image.yaml
Due: none

docs: Add changelog entries for actions bump and SLSA provenance
  CHANGELOG.md
Due: none

fix: patch PutIcebergRecord processor for nested types and use field access per name and not id
  nifi/stackable/patches/2.9.0/0008-NIFI-16069-PutIcebergRecord-fails-with-ClassCastExce.patch
  nifi/stackable/patches/2.9.0/0009-NIFI-16067-PutIcebergRecord-maps-fields-by-ordinal-p.patch
Due: none

chore: Bump stackabletech/actions to v0.16.0 and add SLSA provenance (#1559)
  .github/workflows/mirror.yaml
  .github/workflows/pr_pre-commit.yaml
  .github/workflows/reusable_build_image.yaml
  .github/workflows/ubi-rust-builder.yml
  CHANGELOG.md
Due: none

fix(ci): Grant actions/packages perms for SLSA provenance job
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
  .github/workflows/precompile_hadoop.yaml
Due: none

fix: Grant permissions for SLSA provenance job (#1562)
  .github/workflows/build_airflow.yaml
  .github/workflows/build_druid.yaml
  .github/workflows/build_hadoop.yaml
  .github/workflows/build_hbase.yaml
  .github/workflows/build_hive.yaml
  .github/workflows/build_java-base.yaml
  .github/workflows/build_java-devel.yaml
  .github/workflows/build_kafka-testing-tools.yaml
  .github/workflows/build_kafka.yaml
  .github/workflows/build_krb5.yaml
  .github/workflows/build_nifi.yaml
  .github/workflows/build_omid.yaml
  .github/workflows/build_opa.yaml
  .github/workflows/build_opensearch.yaml
  .github/workflows/build_opensearch_dashboards.yaml
  .github/workflows/build_spark-connect-client.yaml
  .github/workflows/build_spark-k8s.yaml
  .github/workflows/build_stackable-base.yaml
  .github/workflows/build_superset.yaml
  .github/workflows/build_testing-tools.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/build_trino-cli.yaml
  .github/workflows/build_trino.yaml
  .github/workflows/build_vector.yaml
  .github/workflows/build_zookeeper.yaml
  .github/workflows/precompile_hadoop.yaml
Due: none

feat(patchable): respect http proxy environment variables
  rust/patchable/src/main.rs
  rust/patchable/src/repo.rs
  rust/patchable/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

feat(patchable): respect http proxy environment variables (#1563)
  rust/patchable/src/main.rs
  rust/patchable/src/repo.rs
  rust/patchable/src/utils.rs
Due: cargo-test, cargo-rustfmt, cargo-clippy

fix: spark-k8s graceful shutdown on SIGTERM
  spark-k8s/Dockerfile.3
  spark-k8s/Dockerfile.4
  spark-k8s/stackable/run-spark.sh
Due: none

Path conditions:
  cargo-test: any of: \.rs$|Cargo\.(toml|lock), but not: \.patch$
  cargo-rustfmt: any of: \.rs$, but not: \.patch$
  cargo-clippy: any of: \.rs$, but not: \.patch$
